
th {
    padding-top: 50px;
}

td {
    padding-left: 50px;
    padding-top: 40px;
    
}

div.container {
    padding: 50px;
    margin: 0;
    padding-left: 50px;
    padding-bottom: 50px;
}


button {
    padding-left: 50px;
    padding: 50px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: larger;
}

DIV {
    padding: 50px;
}

