footer {
   
    bottom: 0;
    width: 100%;
    font-size: small;
    text-align: center;
     background-color: rgb(78, 78, 78);
     color: white;
     padding: 20px;
  }

  .col-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }

.card-text {
  font-size: small;
}


#giorno {
    color: rgb(59, 59, 59);
    text-transform: capitalize;
}

#weathercode {
  color: rgb(59, 59, 59);
}
#gradi {
  
color: rgb(59, 59, 59);
}

#divv {
    background-color: #98b7bd
}
