footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: darkolivegreen;
}



body {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.card {
    display: flex;
    justify-content: center;
}

.col {
    color: antiquewhite;
}

.card-body {
    text-align: left;
}