footer {
    
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: darkolivegreen;
}



img {
   
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 300px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.card {
    display: flex;
    justify-content: center;
}

.col {
    color: antiquewhite;
}

.card-body {
    text-align: left;
}